.product__data {
    background-color: yellow;
    height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.8rem;
}

input {
    padding: 0.8rem 0;
    margin: 0.5rem 0;
    max-width: 400px;
}

button {
    max-width: fit-content;
}