@import url('https://fonts.googleapis.com/css2?family=Labrada:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
}

::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Labrada', serif;
    line-height: 1.7;
    height: 100vh;
}

/* ========== PRODUCTS STYLES ========== */
#catalog {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 20px;
    padding: 20px;
}

.prd{
    background-color: #ffffff;
    border: 1px solid #f1f1f1;
}

.prd img{
    margin: auto;
    width: auto;
    max-height: 200px;
}

.prd .image__container{
    display: flex;
    justify-content: center;
}

.logout__btn {
    color: orange;
    border: none;
    border-radius: 0.2rem;
    padding: 0.6rem;
    margin-top: 1rem;
    cursor: pointer;
    transition: all 400ms ease;
}

.logout__btn:hover {
    background-color: orange;
    color: #fff;
}