header {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 0.6rem;
    background: goldenrod;
    min-height: 65px;
}

.navbar {
    display: flex;
    align-items: center;
    margin: 0 auto;
    gap: 1rem;
    font-weight: 400;
}

.active {
    color: var(--color-light);
}

.active:nth-child(1) {
    text-decoration: underline;
}

header h3 {
    color: var(--color-white);
}

.nav-btn {
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    visibility: hidden;
}

/* ========== MEDIA QUERY SMALL DEVICE(HAMBUGER MENU) ========== */
@media screen and (max-width: 600px) {
    header {
        justify-content: space-between;
        margin: 0 auto;

    }
    header > h3 {
        font-size: 1.2rem;
    }
    .navbar {
      font-size: 0.9rem;
      gap: 1rem;
      position: fixed;
      flex-direction: column;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      align-items: center;
      justify-content: center;
      gap: 1.5rem;
      transition: 1s;
      transform: translateY(-100vh);
      background: goldenrod;
      z-index: 1;
      font-size: 1.2rem;
    }
    .active__menu {
        transform: none;
    }
    .nav-btn {
        visibility: visible;
        opacity: 1;
        font-size: 1.5rem;
    }
    .nav-close-btn {
        position: absolute;
        top: 1.3rem;
        right: 1rem;
    }
}