header {
    display: flex;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 0.6rem;
    background: goldenrod;
}

.navbar {
    display: flex;
    align-items: center;
    margin: 0 auto;
    gap: 1rem;
    font-weight: 400;
}

.active {
    color: var(--color-light);
}

.active:nth-child(1) {
    text-decoration: underline;
}


header h3 {
    color: var(--color-white);
}

@media screen and (max-width: 480px) {
    header {
        justify-content: space-between;
        gap: 1rem;
        min-height: 65px;
        margin: 0 auto;

    }
    header > h3 {
        font-size: 1rem;
    }
    .navbar {
      font-size: 0.9rem;
      gap: 1rem;
    }
}